# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Other Stuff
*.d
*.pyc
*.log

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary files
*.root
*.png
*.zip
*.eps
*.pdf

# Folders
tree*/
test*/
datacards*/
batch/jobs*/
input/fast*/

# linked by setupScripts.sh
/getCRyields.sh
/makeCutflow.py
/makeNtupleClass.sh
/makeSeparateDCInputs.sh
/makeTempClass.C
/nMinus1plots.sh
/plotPileupAcc.C
/plotSyst2D.C
/selections.py
/sourceNtupleClass.sh
/makeHistosSVJ.sh
/makePlotsSVJ.sh
/makeStacksSVJ.sh
/make_yield_table.py
/make_variation_list.py
/makePlotsUnskimmed.sh
/projectMT.py
/plotTrigEff.C
/datacard_svj.py
/plotLimit.C
/makeSVJInputs.py
/doTrigOpt.py
/runTrig.sh
/sigAcc.py
/splitRegionsSVJ.py
/getBkgYields.py
/runSVJ.sh
/runLimits.sh
/makePuInputs.py
/runPU.sh
/CutflowSum.C
/selections_svj.py
/makeCutflowSVJ.py
/processDatacardsSVJ.py
/finalizeDatacardsSVJ.sh
/datacardPlots.sh
/compareLimits.C
/getWindowYield.py
/makeTF.py
/makeTFs.sh
/makeABCD.sh
/makeToys.py
/test_fit_sum.py
/test_fit_sum_bkg.py
/applyTF.py
/getTrigCorrVals.C
/doubleRatio.C
/finalBinning.py

# linked by setupXML.sh
/KMVA/pugi*.*
