# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Other Stuff
*.d
*.pyc

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary files
*.root
*.png
*.zip
*.eps

# Folders
tree*/
test*/
datacards*/
batch/jobs*/
input/fast*/

# linked by setup.sh
getCRyields.sh
makeCutflow.py
makeNtupleClass.sh
makeSeparateDCInputs.sh
makeTempClass.C
nMinus1plots.sh
plotPileupAcc.C
plotSyst2D.C
selections.py
sourceNtupleClass.sh

